h2 {
    margin-top: 15px;
    text-align: center;
}
img {
    width: 180px;
    height: 90px;
}
.container space-between {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.space-evenly {
    justify-content: space-evenly;
}
.space-around {
    justify-content: space-around;
}